node_modules
platforms
plugins
resources-cosmo
resources-hope
resources-hope-dummy
resources-joes
resources-rational
package-lock.json
config-cosmo.xml
config-hope.xml
config-joes.xml
config-rational.xml
build
www
*.js
*.js.map
environment.ts
