<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>248369073215-shuprjmoseotik2er6jcrc2pn0mug255.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248369073215-shuprjmoseotik2er6jcrc2pn0mug255</string>
	<key>API_KEY</key>
	<string>AIzaSyDfCq0M4wFI0NqPt-gC_MhKM9c5n3kOKlM</string>
	<key>GCM_SENDER_ID</key>
	<string>248369073215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theappcompany.joeice</string>
	<key>PROJECT_ID</key>
	<string>joes-italian-ice</string>
	<key>STORAGE_BUCKET</key>
	<string>joes-italian-ice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:248369073215:ios:2a2ce085b3a2a0d5</string>
	<key>DATABASE_URL</key>
	<string>https://joes-italian-ice.firebaseio.com</string>
</dict>
</plist>