<!-- joes logo -->
<img src="{{url}}"
    [style.transform] = "'translateY(-5px)'"
    [style.max-width] = "'100%'"
    [style.max-height] = "logoSize + 'px'"
    [style.margin-top]= "'6px'"
    [style.object-fit] = "'fill'"/>

<!-- hope logo -->
<!-- <img src="{{url}}" id="logoID" class="header-logo-hope" /> -->

<!-- cosmo logo -->
<!-- <img src="{{url}}" id="logoID" class="header-logo-cosmo cst_logo" /> -->

<!-- rational logo -->
<!-- <img src="{{url}}" id="logoID" class="header-logo-rational cst_logo_rational"/> -->