page-reward-messages {

.rewards_program_message {
	margin: 0 auto;
	max-width: 590px;
	padding: 10px;
}

//////
.rp_message_top {
    font-weight: bold;
    line-height: normal;
    text-align: center;
	padding: 0 10px;;
}


.rp_step_checkin_fourth {
	text-align: center;
	display: inherit;
    line-height: 1;
    margin: 15px 0;
}


.rp_bt_continue {
	cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 20px 10px;
	width: 45%;
	
	font-size: 20px;
	color: #ffffff;
	background-color: #eb0323;
	font-family: 'Open Sans';
}

}
