page-image-mapping-ios {
	#imageContent
    {
        overflow: hidden;
    }
    .scroll-content{
    	margin-top: 0px !important;
        overflow: hidden !important;
    }
    .cst_img{
    	height: 100% !important;
        width: 100% !important;
    }
}
